#my{
    margin-top: 150px;
    color:  #FFA07A;
}

.navbar{
    opacity: 1;
   
}

body{
background-color: #4682B4;
background-size: cover;
}

.sec{
	padding-left: 10em;
	font-size: 25px;
}

header{
	color: #DC143C;
}






